
<section class="wrapper module-post">
  <div class="container module-post--container">

  		<article class="module-post--article">
  			<header class="row module-post--title">
          <div class="col-twelve">
    				<h3 class="text-c">{{data.post.title}}</h3>
          </div>
  			</header>

  			<div class="module-post--content row">

  				{{#if data.post.image.url}}
            <div class="col-twelve col-four-80 col-five-100">
              <img src="{{{cloudinaryUrl data.post.image width=750 height=450 crop='fit' }}}" class="img-fluid module-post--image">
            </div>
            <div class="col-twelve col-seven-80 col-offset-one-80 col-six-100 col-offset-one-100 ">
              <div class="module-post--date">Posted {{{dateFormat data.post.publishedDate "MM.DD.YY"}}}</div>
              {{{data.post.content.extended}}}
            </div>

          {{else}}
            <div class="col-ten col-offset-one">
              <div class="module-post--date">Posted {{{dateFormat data.post.publishedDate "MM.DD.YY"}}}</div>
              {{{data.post.content.extended}}}
            </div>
          {{/if}}


  			</div>
  		</article>

      <div class="row">
        <div class="text-c col-twelve">
          <a href="/"><h4>Return to Site</h4></a>
        </div>
      </div>
  </div>
</section>

<script>

  var postData = {{{data.post}}};
  console.log(postData);
</script>
