<div id="news" class="scrollable-point"></div>
<section class="wrapper module-news">
  <div class="container module-news--container">
    {{!-- <div> --}}
    <div class="row">
      <div class="col-twelve">
        <h2 class="section-title text-c">News</h2>
      </div>
    </div>
    {{!-- </div> --}}
    {{#if data.posts.results}}
    <div class="module-news--posts">
      {{#each data.posts.results}}

      <a href={{postUrl slug}} target="_blank" rel="nofollow noopener" title={{title}}>

        <div class="row module-news--single-post">

          <div class="col-twelve col-two-60 module-news--date">
            {{dateFormat publishedDate "MM.DD.YY"}}
          </div>

          <div class="col-twelve col-ten-60 module-news--content">
            <span class="module-news--content-title">{{title}}:</span> <span class="module-news--content-brief">{{content.brief}}</span>
          </div>
        </div>

      </a>

      {{/each}}
    </div>
    {{else}}
    <!-- else -->
    <div class="col-twelve text-c module-news--empty">
      <p>There are no news items currently published.</p>
    </div>

    {{/if}}
  </div>
</section>



{{!-- <div id="news" class="scrollable-point"></div>
<section class="wrapper module-news">
<div class="container">
<div class="row">
<div class="col-twelve text-c">
<h2>News</h2>
</div>
</div>
<div class="row">
{{#if data.posts.results}}
{{#each data.posts.results}}

<div class="col-twelve">
<a href="{{postUrl slug}}" class="module-news--post">

<div class="module-news--post-title">
{{{title}}}
</div>

<div class="module-news--post-content">
{{{content.brief}}}
</div>

{{#if content.extended}}
<div class="module-news--post-link">
Read more...
</div>
{{/if}}
</a>
</div>

{{/each}}
{{else}}

<div class="col-twelve text-c module-news--empty">
<p>There are no news items currently published.</p>
</div>
{{/if}}
</div>

</div>
</section> --}}
