<div id="live" class="scrollable-point"></div>
<section class="wrapper module-shows">
  <div class="container module-shows--container">

    <div class="row">
      <div class="col-twelve">
        <h2 class="section-title text-c">Live</h2>
      </div>
    </div>

    {{#if shows}}
      <div class="module-shows--listings">
    		{{#each shows}}
          {{#if ticketLink}}
            <a href="{{ticketLink}}" target="_blank" rel="nofollow noopener" title="Purchase tickets">
          {{else if socialLink}}
            <a href="{{socialLink}}" target="_blank" rel="nofollow noopener" title="More details">
          {{/if}}

      		<div class="row module-shows--single-listing">

    				<div class="col-twelve col-two-60 col-two-90 col-one-110 module-shows--date">

              {{eventDateString}}

    				</div>

            <div itemprop="name" class="col-twelve col-ten-60 col-five-90 col-six-110 module-shows--title">
              {{title}}
            </div>

            <div class="col-twelve col-ten-60 col-offset-two-60 col-two-90 col-offset-one-90 module-shows--venue">
              {{venue}}
            </div>

            <div class="col-twelve col-ten-60 col-offset-two-60 col-two-90 col-offset-zero-90 module-shows--location">
              {{location}}
            </div>
      		</div>

          {{#if ticketLink}}</a>{{else if socialLink}}</a>{{/if}}

    		{{/each}}
      </div>
  	{{else}}
  	<!-- else -->
    <div class="col-twelve text-c module-shows--empty">
    	<p>There are no shows currently announced.</p>
    </div>

  	{{/if}}
  </div>
</section>


{{#if shows}}
<script type="application/ld+json">
  {{#each showJSON}}
    {{{this}}}
  {{/each}}
</script>
{{/if}}
